[user]
  name       = Joel Wallis Jucá
  email      = joelwallis@gmail.com
  signingkey = A2BFD5B6FCC049DEBF5A7E2908889F5A24817F8B
[commit]
  gpgsign    = true
[core]
  editor     = nvim
  fileMode   = false
[color]
  ui         = true
[alias]
  first      = commit --allow-empty -m '💥'
  lg         = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st         = status -sb
  standup    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --since yesterday
[gitflow "prefix"]
  feature    = feature/
  release    = release/
  hotfix     = hotfix/
  support    = support/
  versiontag = v
[push]
  default    = matching
[credential]
helper       = osxkeychain
