"*":
  core:
    followSymlinks: true
    themes: [
      "atom-dark-ui"
      "atom-light-syntax"
    ]
    disabledPackages: [
      "linter-phpcs"
      "emmet"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "a642e5c2-3907-c10d-8211-6de36a70c62c"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error if the cursor is in range"
    subtleLinterErrors: [
      "php"
    ]
    showErrorPanel: true
  minimap:
    absoluteMode: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
