"*":
  editor:
    fontSize: 12
    showIndentGuide: true
    softWrap: true
  core:
    disabledPackages: [
      "vim-mode"
    ]
    followSymlinks: true
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "exception-reporting":
    userId: "a642e5c2-3907-c10d-8211-6de36a70c62c"
  minimap: {}
  "project-manager": {}
  welcome:
    showOnStartup: true
